[submodule "external/torch"]
	path = external/torch
	url = https://github.com/Thorhax/Torch-LH.git
	branch = switch-port
[submodule "external/libultraship"]
	path = external/libultraship
	url = https://github.com/Thorhax/libultraship.git
	branch = switch-port
